html,
body {
  margin: 0;
  padding: 0;
  font-family: "lato", sans-serif;
}
body {
  background-color: #f6efee;
}
.hero-section {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
  background-size: cover;
  background-position: center;
  height: 460px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
  position: relative;
}
.overlay {
  background: linear-gradient(
    90deg,
    rgba(35, 31, 32, 0) 0%,
    rgba(35, 31, 32, 0.7) 50%,
    rgba(35, 31, 32, 1) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 460px;
  opacity: 0.75;
}
.hero-content {
  color: #f6efee;
  text-align: right;
  width: 50%;
  z-index: 1;
}
.hero-content h1 {
  font: 700 2.5em "interstate", sans-serif;
  margin: 0;
  margin-bottom: 0.1em;
}
.hero-content p {
  font: 400 1.5em "lato", sans-serif;
  margin: 0;
  margin-bottom: 1em;
}
.hero-content button,
.team-actions button {
  background-color: #f8d210;
  color: #231f20;
  font: 700 1.2em "interstate", sans-serif;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.hero-content button:hover,
.team-actions button:hover {
  background-color: #296eb4;
}
.team-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.create-import-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.create-import-team button,
.export-teams {
  background-color: #231f20;
  color: #f6efee;
  font: 700 1.2em "interstate", sans-serif;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.create-import-team button:hover,
.export-teams:hover {
  background-color: #f8d210;
  color: #231f20;
}
.teams-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  background-color: #231f20;
  padding: 1rem;
  width: 90%;
  border-radius: 1.5rem;
  min-height: 5rem;
  flex-wrap: wrap;
}
.team-creation-form,
.tcf-part-1,
.tcf-part-2,
.edit-team-name {
  display: none;
}
.Active {
  display: flex;
}
.team-creation-form.Active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #231f2080;
  z-index: 2;
}
.tcf-part-1,
.tcf-part-2,
.edit-team-name {
  flex-direction: column;
  gap: 0.5rem;
  background-color: #f6efee;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tcf-part-1 label,
.tcf-part-2 label {
  font: 700 1.2em "interstate", sans-serif;
}
.tcf-part-1 input,
.tcf-part-2 input,
.edit-team-name input {
  font: 400 1em "lato", sans-serif;
  padding: 0.5em;
  border: 1px solid #231f20;
  border-radius: 5px;
}
.tcf-part-1 button,
.tcf-part-2 button,
.edit-team-name button {
  background-color: #f8d210;
  color: #231f20;
  font: 700 1.2em "interstate", sans-serif;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.tcf-part-1 button:hover,
.tcf-part-2 button:hover,
.edit-team-name button:hover {
  background-color: #296eb4;
}
.form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.form-header h2 {
  font: 700 1.5em "interstate", sans-serif;
  margin: 0;
  color: #231f20;
}
.team-name {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
.team-actions,
.pagination-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
#search-results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.pokemon-result {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #231f20;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-info {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}
.pokemon-info img {
  width: 3rem;
  height: 3rem;
}
.pokemon-info span {
  font: 700 1.25em "interstate", sans-serif;
  color: #f6efee;
}
.team {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.team h3 {
  font: 700 1.5em "interstate", sans-serif;
  margin: 0;
  color: #f6efee;
}
.current-pokemon-team {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.current-pokemon-team h3 {
  font: 700 1.25em "interstate", sans-serif;
  margin: 0;
  color: #231f20;
}
.pokemon-team {
  background-color: #231f20;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 5rem;
}
.team-pokemon,
.current-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  background-color: #f6efee;
  border-radius: 5px;
}
.bg-dark {
  background-color: #231f20;
}
.pokemon span {
  font: 700 1em "interstate", sans-serif;
  color: #231f20;
}
.pokemon.bg-dark span {
  color: #f6efee;
}
.types {
  display: flex;
  justify-content: center;
  gap: 0.625em;
}

.type {
  border-radius: 2em;
  padding: 0.25em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
}

.normal {
  background: #a8a77a;
}
.fire {
  background: #ee8130;
}
.water {
  background: #6390f0;
}
.electric {
  background: #f7d02c;
}
.grass {
  background: #7ac74c;
}
.ice {
  background: #96d9d6;
}
.fighting {
  background: #c22e28;
}
.poison {
  background: #a33ea1;
}
.ground {
  background: #e2bf65;
}
.flying {
  background: #a98ff3;
}
.psychic {
  background: #f95587;
}
.bug {
  background: #a6b91a;
}
.rock {
  background: #b6a136;
}
.ghost {
  background: #735797;
}
.dragon {
  background: #6f35fc;
}
.dark {
  background: #705746;
}
.steel {
  background: #b7b7ce;
}
.fairy {
  background: #d685ad;
}
@media (max-width: 768px) {
  .hero-content {
    width: 80%; /* Adjusts width for smaller screens */
    padding: 0 20px; /* Adds padding for text */
  }

  .hero-section {
    height: auto; /* Adjusts height for smaller screens */
    padding: 20px 0; /* Adds padding */
  }

  .teams-container,
  .team-creation-form {
    flex-direction: column; /* Stacks elements vertically */
  }

  .create-import-team,
  .team-actions,
  .pagination-controls {
    flex-direction: column; /* Stacks buttons vertically */
  }

  .team,
  .pokemon-result,
  .pokemon {
    width: 100%; /* Adjusts width for smaller screens */
  }

  .team-pokemon,
  .current-team {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjusts grid for smaller screens */
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2em; /* Adjusts font size for very small screens */
  }

  .hero-content p {
    font-size: 1.2em; /* Adjusts font size for very small screens */
  }

  .team-pokemon,
  .current-team {
    grid-template-columns: 1fr; /* Adjusts grid for very small screens */
  }
}
